@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url("../font/arialroundedmtbold.ttf");
}

:root {
    --blue: #608cab;
    --green: #72a079;
    --red: #bb4948;
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-1: hsl(0, 0%, 90%);
        --primary-2: hsl(0, 0%, 80%);
        --primary-3: hsl(0, 0%, 70%);
        --secondary-1: hsl(0, 0%, 10%);
        --secondary-2: hsl(0, 0%, 20%);
        --secondary-3: hsl(0, 0%, 30%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-1: hsl(0, 0%, 10%);
        --primary-2: hsl(0, 0%, 20%);
        --primary-3: hsl(0, 0%, 30%);
        --secondary-1: hsl(0, 0%, 90%);
        --secondary-2: hsl(0, 0%, 80%);
        --secondary-3: hsl(0, 0%, 70%);
    }
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    align-items: center;
    background-color: var(--primary-1);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem;
    transition: background-color 0.25s;
    width: 100%;
}

.input {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.input .search-bar {
    color: var(--secondary-1);
    display: flex;
    flex-grow: 1;
    font-size: 2rem;
    position: relative;
    width: 100%;
}

.input .search-bar .fa-solid.fa-magnifying-glass {
    color: var(--secondary-1);
    margin-left: 1rem;
    margin-top: 1rem;
    position: absolute;
}

.input .search-bar #search {
    background-color: var(--primary-2);
    border: none;
    border-radius: 1rem;
    color: var(--secondary-1);
    flex-grow: 1;
    font-size: 2rem;
    height: 4rem;
    min-width: 100%;
    padding: 1rem;
    padding-left: 4rem;
}

.input .search-bar #search::placeholder {
    color: var(--secondary-3);
}

.input .search-bar #search::-webkit-search-cancel-button {
    appearance: none;
}

.input .search-bar #search:focus {
    outline: none;
}

.input #new {
    align-items: center;
    background-color: var(--blue);
    border-radius: 1rem;
    bottom: 4rem;
    color: var(--secondary-1);
    display: flex;
    font-size: 3rem;
    height: 6rem;
    justify-content: center;
    position: fixed;
    right: 4rem;
    transition: opacity 0.25s;
    width: 6rem;
}

.input #new:hover {
    cursor: pointer;
    opacity: 0.8;
}

.output {
    flex-grow: 1;
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }

    body {
        gap: 2rem;
        padding: 2rem;
    }

    .input #new {
        bottom: 2rem;
        right: 2rem;
    }
}