@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url("../font/arialroundedmtbold.ttf");
}

:root {
    --dark-1: hsl(0, 0%, 10%);
    --dark-2: hsl(0, 0%, 20%);
    --dark-3: hsl(0, 0%, 30%);
    --light-1: hsl(0, 0%, 90%);
    --light-2: hsl(0, 0%, 80%);
    --light-3: hsl(0, 0%, 70%);
    --blue: #608cab;
    --green: #72a079;
    --red: #bb4948;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    align-items: center;
    background-color: var(--dark-1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 100vh;
    padding: 2rem;
    transition: background-color 0.25s;
    width: 100%;
}

body > * {
    max-width: 1200px;
}

.input {
    background-color: var(--dark-2);
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    position: fixed;
    top: 2rem;
    width: calc(100% - 4rem);
    z-index: 1;
}

.input .search-bar {
    color: var(--light-1);
    display: flex;
    flex-grow: 1;
    font-size: 2rem;
    position: relative;
}

.input .search-bar .fa-solid.fa-magnifying-glass {
    color: var(--light-1);
    margin-left: 1rem;
    margin-top: 1rem;
    position: absolute;
}

.input .search-bar #search {
    background-color: var(--dark-3);
    border: none;
    border-radius: 1rem;
    color: var(--light-1);
    font-size: 2rem;
    height: 4rem;
    padding: 1rem;
    padding-left: 4rem;
    width: 100%;
}

.input .search-bar #search::placeholder {
    color: var(--light-3);
}

.input .search-bar #search::-webkit-search-cancel-button {
    appearance: none;
}

.input .search-bar #search:focus {
    outline: none;
}

.input #newEntry {
    align-items: center;
    background-color: var(--blue);
    border-radius: 1rem;
    color: var(--light-1);
    display: flex;
    font-size: 2rem;
    justify-content: center;
    min-height: 4rem;
    min-width: 4rem;
    transition: opacity 0.25s;
}

.input #newEntry:hover {
    cursor: pointer;
    opacity: 0.8;
}

.output {
    display: grid;
    gap: 2rem;
    grid-auto-rows: 30rem;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    padding-top: 8rem;
    width: 100%;
}

.output .entry {
    align-items: center;
    background-color: var(--light-2);
    border-radius: 1rem;
    display: flex;
    font-size: 8rem;
    justify-content: center;
    transition: opacity 0.25s;
}

.output .entry:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }
}